@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
/* width */
::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #865ac9; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37318f; 
}

/* Sharingan Loading */

.sharingan {
  background: #e41414;
  width: 8em;
  height: 8em;
  position: relative;
  border: 3px #000 solid;
  animation: spin 2s ease-in-out infinite, shine 2s ease-in-out infinite;
}

.sharingan .inner-ring {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 4em;
  border: 4px rgba(110, 13, 13, 0.5) solid;
}

.sharingan,
.tomoe,
.circle,
.inner-ring {
  border-radius: 50%;
}

.tomoe,
.circle {
  position: absolute;
  width: 1em;
  height: 1em;
  background: #000;
  z-index: 2;
}

.sharingan .tomoe:nth-child(1) {
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.sharingan .tomoe::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: -0.5em;
  width: 1.9em;
  height: 0.9em;
  border-left: 16px solid #000;
  border-radius: 100% 0 0 0;
}

.sharingan .tomoe:nth-child(2) {
  bottom: 0.5em;
  left: -0.3em;
  transform: rotate(-120deg);
}

.sharingan .tomoe:nth-child(3) {
  bottom: 0.5em;
  right: -0.3em;
  transform: rotate(120deg);
}

.sharingan .circle{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 1.5em;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
 
  100% {
    transform: rotate(720deg);
  }
}

@keyframes shine {
  0% {
    background: #e41414;
  }
  50% {
    background: #f03a3a;
  }
  100% {
    background: #e41414;
  }
}

